<div class="header">
<ul>
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
        <a href="recipe_list.html" class="dropbtn">Recipes</a>
            <div class="dropdown-content-header">
                <a href="/recipe_list.html?name=&amp;Breakfast">Breakfast</a>
                <a href="/recipe_list.html?name=&amp;Lunch">Lunch</a>
                <a href="/recipe_list.html?name=&amp;Dinner">Dinner</a>
                <a href="/recipe_list.html?name=&amp;Dessert">Dessert</a>
            </div>
      </li>
  <li class="dropdown">
        <a href="ingredient_list.html" class="dropbtn">Ingredients</a>
            <div class="dropdown-content-header">
                <a href="ingredient_list.html?Dairy">Dairy</a>
                <a href="ingredient_list.html?Vegetable">Vegetables</a>
                <a href="ingredient_list.html?Meat">Meat</a>
            </div>
      </li>
  <li class="new_recipe">
      <a href="Login.html">Add a Recipe</a></li>
      
      
  </ul>
  </div>