p, ul, h1, h2, label,li { 
	font-family: 'Montserrat', sans-serif;
}


.header a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 .header ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

 .header li {
    float: left;
  }

  header a:hover, .dropdown:hover{
    background-color: green;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content, .dropdown-content-header {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content-header a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown-content-header a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: inline-block;
  }
  
  .dropdown:hover .dropdown-content-header {
    display: block;
  }