p, ul { 
	font-family: 'Montserrat', sans-serif;
	}

img {
	height: 300px;
	 display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
	text-align:center;
}

h1,h2,h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.extra-tags input[type=checkbox] {
	display: inline;
}
.extra-tags label {
	display: inline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content, .dropdown-content-header {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content-header a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown-content-header a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.dropdown:hover .dropdown-content-header {
  display: block;
}

#ingr_button {
	display:none;
}

 
input[type=checkbox]{
	display:none;
}

label{
	display: none;
}
.hide {
	display:none;
}
input[type=checkbox]:checked + button + label {
    display: inline-block;
}
input[type=checkbox]:checked + button {
    display: inline-block;
	background:none;
    border:none;
    margin:0;
    padding:5;
    cursor: pointer;
	font-size: 16px;
	color: red;
}