img {
	height: 150px
}

.main ul {
    columns: 5;
}

.main li {
    list-style-type: none;
}


.main a:link {
    text-decoration: none;
      color: #4A8C2F;
      text-align: center;
  }
  
  .main a:visited {
    text-decoration: none;
  color: #4A8C2F;
  text-align: center;
  }
  
  .main a:hover {
    text-decoration: none;
      color: 	 #5aac39;
  }
  
  .main a:active {
    text-decoration: none;
      color: 	 #5aac39;
  }