p, ul, h1, h2, label,li { 
	font-family: 'Montserrat', sans-serif;
	}

img {
  max-height: 150px;
}

.picture{
  width:100px;
  height:100px;
}
.main ul {
    columns: 4;
}

.main li {
    list-style-type: none;
    display: inline;
}

#sidenav_list{
	columns:1;
	padding-left: 0px;
}

p{
  font-size: 20px;
}

.sidenav {
  width: 14%;
  position: absolute;
  z-index: 0;
  top: 100px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  min-width: 100px;
}
.main {
  margin-left: 15%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.pic_container {
  /*height: 150px*/
  width: 100%;
  height: auto;
}

.item {
  display:inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
	border: solid;
	border-width: 1px;
	padding: 10px;
	overflow: auto;
  border-color: #8c8c8c;
  margin: 10px;
}

p

.main a:link {
  text-decoration: none;
	color: #4A8C2F;
	text-align: center;
}

.main a:visited {
  text-decoration: none;
color: #4A8C2F;
text-align: center;
}

.main a:hover {
  text-decoration: none;
	color: 	 #5aac39;
}

.main a:active {
  text-decoration: none;
	color: 	 #5aac39;
}

input[type="text"] {
  display: none;
}

